.app-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh; /* Set a maximum height for the whole container */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.group-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-gap: 10px;
  padding: 5px;
}




