/* Common style for the badge container */
.badge-container {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center items vertically */
  border: none;
  border-radius: 9px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  height: 20px;
  margin-right: 8px;
}

/* Style for the text badge */
.text-badge {
  max-width: 100px;
}

/* Style for the image badge */
.image-badge {
  max-width: 100px;
}

/* Style for the hybrid badge */
.hybrid-badge {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

.hybrid-badge-image {
  max-height: 100%; /* Specify a unit for clarity */
  margin-right: 6px;
}
