.tile {
  position: relative;
  padding: 10px;
  text-align: center;
  background-color: #eaeaea;
  border: 3px solid;
  border-radius: 10px;
  /* width: 300px;
  height: 75px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  max-width: 800px;
}

/* Add a new class for disabled tiles */
.tile.disabled {
  opacity: 0.5; /* Adjust the opacity as needed to visually indicate the tile is disabled */
  pointer-events: none; /* Disable pointer events to make the tile unclickable */
  /* Add any other styles to visually indicate the tile is disabled */
}

.tile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/*Menu Icon on top left*/
.tile-menu-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px; /* Adjust the font size as needed */
  color: #3498db;
}

.second-row {
  display: flex;
  flex-wrap: wrap;
}